---
http_interactions:
- request:
    method: get
    uri: http://api.fitbit.com/1/user/25WQ2X/sleep/date/2014-01-30.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ee59ac70ceb04f2c90fb103d3f0ac969", oauth_nonce="ttPW3iyDMJ9VhToWjG5mWRaneYL0Ox1KgiHZpBuVRsg",
        oauth_signature="K7bH%2BbA8NmExXQXwhWCgWeHK77I%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1391116279", oauth_token="128e556de6e068c19e29beb380de56f1",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"sleep":[],"summary":{"totalMinutesAsleep":0,"totalSleepRecords":0,"totalTimeInBed":0}}'
  recorded_at: Thu, 30 Jan 2014 21:11:19 GMT
- request:
    method: get
    uri: http://api.fitbit.com/1/user/25WQ2X/activities/date/2014-01-30.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ee59ac70ceb04f2c90fb103d3f0ac969", oauth_nonce="4F3jfZkQhzzpDsXG4wtIisE2h3sbSwFmhLeoygIFdo",
        oauth_signature="4ZQ%2BexNHszPBj8nwslJ8sZu5Haw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1391116279", oauth_token="128e556de6e068c19e29beb380de56f1",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"activities":[],"goals":{"activeMinutes":30,"caloriesOut":3377,"distance":5,"steps":10000},"summary":{"activeScore":-1,"activityCalories":596,"caloriesBMR":1230,"caloriesOut":1620,"distances":[{"activity":"total","distance":1.01},{"activity":"tracker","distance":1.01},{"activity":"loggedActivities","distance":0},{"activity":"veryActive","distance":0.13},{"activity":"moderatelyActive","distance":0.61},{"activity":"lightlyActive","distance":0.26},{"activity":"sedentaryActive","distance":0.01}],"fairlyActiveMinutes":28,"lightlyActiveMinutes":121,"marginalCalories":322,"sedentaryMinutes":699,"steps":2176,"veryActiveMinutes":3}}'
  recorded_at: Thu, 30 Jan 2014 21:11:19 GMT
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&method=foods.search&oauth_consumer_key=<FS_KEY>&oauth_nonce=eccbc87e4b5ce2fe28308fd9f2a7baf3&oauth_signature=yCB1/TftYRTBZGYwh9BFW2sQnEY=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1391116279&oauth_version=1.0&search_expression=waffle
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{ "foods": { "food": [ {"food_description": "Per 100g - Calories: 310kcal
        | Fat: 9.55g | Carbs: 48.84g | Protein: 7.30g", "food_id": "4374", "food_name":
        "Plain Waffle", "food_type": "Generic", "food_url": "http:\/\/www.fatsecret.com\/calories-nutrition\/generic\/waffle-plain"
        }, {"brand_name": "Krusteaz", "food_description": "Per 1\/2 cup mix (7\" waffle)
        - Calories: 200kcal | Fat: 9.00g | Carbs: 26.00g | Protein: 4.00g", "food_id":
        "46095", "food_name": "Belgian Waffle Mix", "food_type": "Brand", "food_url":
        "http:\/\/www.fatsecret.com\/calories-nutrition\/krusteaz\/belgian-waffle-mix"
        }, {"food_description": "Per 100g - Calories: 291kcal | Fat: 14.10g | Carbs:
        32.90g | Protein: 7.90g", "food_id": "39070", "food_name": "Plain Waffles",
        "food_type": "Generic", "food_url": "http:\/\/www.fatsecret.com\/calories-nutritio[...]
