---
http_interactions:
- request:
    method: get
    uri: http://api.fitbit.com/1/user/25WQ2X/activities/date/2014-01-30.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ee59ac70ceb04f2c90fb103d3f0ac969", oauth_nonce="dLAMErY7ngFZO267LnqDiSyumyL0mjXd75zVpJFeHs",
        oauth_signature="mJNKGGvzdCFou9YD6RyROsxtjmU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1391113552", oauth_token="128e556de6e068c19e29beb380de56f1",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"activities":[],"goals":{"activeMinutes":30,"caloriesOut":3377,"distance":5,"steps":10000},"summary":{"activeScore":-1,"activityCalories":585,"caloriesBMR":1164,"caloriesOut":1542,"distances":[{"activity":"total","distance":1},{"activity":"tracker","distance":1},{"activity":"loggedActivities","distance":0},{"activity":"veryActive","distance":0.13},{"activity":"moderatelyActive","distance":0.61},{"activity":"lightlyActive","distance":0.25},{"activity":"sedentaryActive","distance":0.01}],"fairlyActiveMinutes":28,"lightlyActiveMinutes":118,"marginalCalories":316,"sedentaryMinutes":656,"steps":2153,"veryActiveMinutes":3}}'
  recorded_at: Thu, 30 Jan 2014 20:25:52 GMT
[...]
- request:
    method: get
    uri: http://api.fitbit.com/1/user/25WQ2X/sleep/date/2014-01-30.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ee59ac70ceb04f2c90fb103d3f0ac969", oauth_nonce="diy5tY6LIHmJ0lBROZKKjQVcAupjb4oHDTG7qOtBY",
        oauth_signature="fj3%2FEiIc08AubniHvTwMXAFnVO0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1391113553", oauth_token="128e556de6e068c19e29beb380de56f1",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"sleep":[],"summary":{"totalMinutesAsleep":0,"totalSleepRecords":0,"totalTimeInBed":0}}'
  recorded_at: Thu, 30 Jan 2014 20:25:53 GMT
- request:
    method: get
    uri: http://api.fitbit.com/1/user/25WQ2X/sleep/date/2014-01-30.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ee59ac70ceb04f2c90fb103d3f0ac969", oauth_nonce="K3TR3TjnzzeXBbY2UOCAAcNFZzLkCZSF0XLGbqNwLw",
        oauth_signature="iKvuuxi4TZ%2BFrHcVufn%2FeyPnLLA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1391113553", oauth_token="128e556de6e068c19e29beb380de56f1",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"sleep":[],"summary":{"totalMinutesAsleep":0,"totalSleepRecords":0,"totalTimeInBed":0}}'
  recorded_at: Thu, 30 Jan 2014 20:25:53 GMT
recorded_with: VCR 2.8.0
