---
http_interactions:
- request:
    method: get
    uri: http://api.fitbit.com/1/user/25WQ2X/activities/date/2014-02-03.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ee59ac70ceb04f2c90fb103d3f0ac969", oauth_nonce="6dscf1n2nK6oJzRjCu3dKxFGtOgOZIcgRwp2up7EzpM",
        oauth_signature="njz7DvXF4zmtjhwI4d5GXOsQDJI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1391478613", oauth_token="128e556de6e068c19e29beb380de56f1",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"activities":[],"goals":{"activeMinutes":30,"caloriesOut":3377,"distance":5,"steps":10000},"summary":{"activeScore":-1,"activityCalories":892,"caloriesBMR":1633,"caloriesOut":2332,"distances":[{"activity":"total","distance":2.58},{"activity":"tracker","distance":2.58},{"activity":"loggedActivities","distance":0},{"activity":"veryActive","distance":0.81},{"activity":"moderatelyActive","distance":1.33},{"activity":"lightlyActive","distance":0.44},{"activity":"sedentaryActive","distance":0}],"fairlyActiveMinutes":74,"lightlyActiveMinutes":92,"marginalCalories":561,"sedentaryMinutes":708,"steps":5547,"veryActiveMinutes":17}}'
  recorded_at: Tue, 04 Feb 2014 01:50:13 GMT
[...]
- request:
    method: get
    uri: http://api.fitbit.com/1/user/25WQ2X/sleep/date/2014-02-03.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ee59ac70ceb04f2c90fb103d3f0ac969", oauth_nonce="NspAvpnJi61SL2cFRwBicDfnwAMDpHQxH1IpJtEp9Y",
        oauth_signature="xJlFWb8XQN%2F6gcdqPNs9eMbLfko%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1391478613", oauth_token="128e556de6e068c19e29beb380de56f1",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"sleep":[{"awakeningsCount":5,"duration":14340000,"efficiency":75,"isMainSleep":true,"logId":106447000,"minuteData":[{"dateTime":"04:31:00","value":"3"},{"dateTime":"04:32:00","value":"3"},{"dateTime":"04:33:00","value":"3"},{"dateTime":"04:34:00","value":"3"},{"dateTime":"04:35:00","value":"3"},{"dateTime":"04:36:00","value":"3"},{"dateTime":"04:37:00","value":"3"},{"dateTime":"04:38:00","value":"2"},{"dateTime":"04:39:00","value":"3"},{"dateTime":"04:40:00","value":"3"},{"dateTime":"04:41:00","value":"2"},{"dateTime":"04:42:00","value":"3"},{"dateTime":"04:43:00","value":"2"},{"dateTime":"04:44:00","value":"3"},{"dateTime":"04:45:00","val[...]
[...]
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&method=foods.search&oauth_consumer_key=<FS_KEY>&oauth_nonce=c4ca4238a0b923820dcc509a6f75849b&oauth_signature=xJ6m7LsiHMNmv3DNuRebH0o9U2M=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1391478614&oauth_version=1.0&search_expression=waffle
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{ "foods": { "food": [ {"food_description": "Per 100g - Calories: 310kcal
        | Fat: 9.55g | Carbs: 48.84g | Protein: 7.30g", "food_id": "4374", "food_name":
        "Plain Waffle", "food_type": "Generic", "food_url": "http:\/\/www.fatsecret.com\/calories-nutrition\/generic\/waffle-plain"
        }, {"food_description": "Per 100g - Calories: 291kcal | Fat: 14.10g | Carbs:
        32.90g | Protein: 7.90g", "food_id": "39070", "food_name": "Plain Waffles",
        "food_type": "Generic", "food_url": "http:\/\/www.fatsecret.com\/calories-nutrition\/usda\/plain-waffles"
        }, {"brand_name": "Krusteaz", "food_description": "Per 1\/2 cup mix (7\" waffle)
        - Calories: 200kcal | Fat: 9.00g | Carbs: 26.00g | Protein: 4.00g", "food_id":
        "46095", "food_name": "Belgian Waffle Mix", "food_type": "Brand", "food_url":
        "http:\/\/www.fatsecret.com\/calories-nutrition\/krusteaz\/belgian-waffle-mix"
        }, {"brand_name": "Eggo", "food_description": "Per 2 waffles - Calories: 190kcal
        | Fat: 7.00g | Carbs: 27.00g | Protein: 4.00g", "food_id": "59737", "food_name":
        "Homestyle Waffles", "food_type": "Brand", "food_url": "http:\/\/www.fats[...]
