---
http_interactions:
- request:
    method: get
    uri: http://api.fitbit.com/1/user/25WQ2X/activities/date/2014-02-05.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ee59ac70ceb04f2c90fb103d3f0ac969", oauth_nonce="H7CpJAa8mxMfevc1tympvOO7ZZt3rsUWzvIkZqBZTA",
        oauth_signature="TNRFJgzGl1anjuExh6hVPzNgXRY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1391632143", oauth_token="128e556de6e068c19e29beb380de56f1",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"activities":[],"goals":{"activeMinutes":30,"caloriesOut":3377,"distance":5,"steps":10000},"summary":{"activeScore":-1,"activityCalories":360,"caloriesBMR":1169,"caloriesOut":1464,"distances":[{"activity":"total","distance":1.29},{"activity":"tracker","distance":1.29},{"activity":"loggedActivities","distance":0},{"activity":"veryActive","distance":0.68},{"activity":"moderatelyActive","distance":0.48},{"activity":"lightlyActive","distance":0.12},{"activity":"sedentaryActive","distance":0}],"fairlyActiveMinutes":26,"lightlyActiveMinutes":23,"marginalCalories":248,"sedentaryMinutes":331,"steps":2763,"veryActiveMinutes":13}}'
  recorded_at: Wed, 05 Feb 2014 20:29:03 GMT
recorded_with: VCR 2.8.0
