---
http_interactions:
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?food_id=4374&format=json&method=food.get&oauth_consumer_key=<FS_KEY>&oauth_nonce=cfcd208495d565ef66e7dff9f98764da&oauth_signature=l9EItfT62xCEs2fPMGsH5pan4S0=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1392066851&oauth_version=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{ "food": {"food_id": "4374", "food_name": "Plain Waffle", "food_type":
        "Generic", "food_url": "http:\/\/www.fatsecret.com\/calories-nutrition\/generic\/waffle-plain",
        "servings": { "serving": [ {"calcium": "12", "calories": "121", "carbohydrate":
        "19.05", "cholesterol": "5", "fat": "3.72", "fiber": "1.0", "iron": "15",
        "measurement_description": "round waffle (4\" dia) (include frozen)", "metric_serving_amount":
        "39.000", "metric_serving_unit": "g", "monounsaturated_fat": "1.990", "number_of_units":
        "1.000", "polyunsaturated_fat": "0.722", "potassium": "55", "protein": "2.85",
        "saturated_fat": "0.763", "serving_description": "1 round (4\" dia) (include
        frozen)", "serving_id": "15826", "serving_url": "http:\/\/www.fatsecret.com\/calories-nutrition\/generic\/waffle-plain?portionid=15826&portionamount=1.000",
        "sodium": "281", "sugar": "1.84", "vitamin_a": "0", "vitamin_c": "0" }, {"calcium":
        "23", "calories": "232", "carbohydrate": "36.63", "cholesterol": "10", "fat":
        "7.16", "fiber": "1.9", "iron": "28", "measurement_description": "round waffle
        (7\" dia)", "metric_serving_amount": "75.000", "metric_serving_unit": "g",
        "monounsaturated_fat": "3.827", "number_of_units": "1.000", "polyunsaturated_fat":
        "1.388", "potassium": "106", "protein": "5.48", "saturated_fat": "1.468",
        "serving_description": "1 round (7\" dia)",[...]
