---
http_interactions:
- request:
    method: get
    uri: http://api.fitbit.com/1/user/25WQ2X/activities/date/2014-02-03.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ee59ac70ceb04f2c90fb103d3f0ac969", oauth_nonce="kVBa2If1x1aisgbOjX1THoIw086tUjexkvHO9Ios",
        oauth_signature="1dzE1LRkbgys83PAC0we%2FHP49M0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1391479316", oauth_token="128e556de6e068c19e29beb380de56f1",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"activities":[],"goals":{"activeMinutes":30,"caloriesOut":3377,"distance":5,"steps":10000},"summary":{"activeScore":-1,"activityCalories":903,"caloriesBMR":1649,"caloriesOut":2362,"distances":[{"activity":"total","distance":2.59},{"activity":"tracker","distance":2.59},{"activity":"loggedActivities","distance":0},{"activity":"veryActive","distance":0.81},{"activity":"moderatelyActive","distance":1.33},{"activity":"lightlyActive","distance":0.45},{"activity":"sedentaryActive","distance":0}],"fairlyActiveMinutes":74,"lightlyActiveMinutes":95,"marginalCalories":566,"sedentaryMinutes":716,"steps":5572,"veryActiveMinutes":17}}'
  recorded_at: Tue, 04 Feb 2014 02:01:56 GMT
[...]
- request:
    method: get
    uri: http://api.fitbit.com/1/user/25WQ2X/sleep/date/2014-02-03.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ee59ac70ceb04f2c90fb103d3f0ac969", oauth_nonce="sWQL5qBGQunDEjby6HZC6iA5aIMVfVEWyQL7MEgRhM",
        oauth_signature="GD9CLG2fEfS%2B4pqplqFk6GVyI2M%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1391479316", oauth_token="128e556de6e068c19e29beb380de56f1",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"sleep":[{"awakeningsCount":5,"duration":14340000,"efficiency":75,"isMainSleep":true,"logId":106447000,"minuteData":[{"dateTime":"04:31:00","value":"3"},{"dateTime":"04:32:00","value":"3"},{"dateTime":"04:33:00","value":"3"},{"dateTime":"04:34:00","value":"3"},{"dateTime":"04:35:00","value":"3"},{"dateTime":"04:36:00","value":"3"},{"dateTime":"04:37:00","value":"3"},{"dateTime":"04:38:00","value":"2"},{"dateTime":"04:39:00","value":"3"},{"dateTime":"04:40:00","value":"3"},{"dateTime":"04:41:00","value":"2"},{"dateTime":"04:42:00","value":"3"},{"dateTime":"04:43:00","value":"2"},{"dateTime":"04:44:00","value":"3"},{"dateTime":"04:45:00","val[...]
[...]
