---
http_interactions:
- request:
    method: get
    uri: http://api.fitbit.com/1/user/25WQ2X/activities/date/2014-02-03.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ee59ac70ceb04f2c90fb103d3f0ac969", oauth_nonce="zCBtnuS9py3IwJE4NwQLQ3SegfzImrfVhSgENRslDg",
        oauth_signature="WaZkK0YzBISu9cYHTIUeejwgUVQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1391478612", oauth_token="128e556de6e068c19e29beb380de56f1",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"activities":[],"goals":{"activeMinutes":30,"caloriesOut":3377,"distance":5,"steps":10000},"summary":{"activeScore":-1,"activityCalories":892,"caloriesBMR":1633,"caloriesOut":2332,"distances":[{"activity":"total","distance":2.58},{"activity":"tracker","distance":2.58},{"activity":"loggedActivities","distance":0},{"activity":"veryActive","distance":0.81},{"activity":"moderatelyActive","distance":1.33},{"activity":"lightlyActive","distance":0.44},{"activity":"sedentaryActive","distance":0}],"fairlyActiveMinutes":74,"lightlyActiveMinutes":92,"marginalCalories":561,"sedentaryMinutes":708,"steps":5547,"veryActiveMinutes":17}}'
  recorded_at: Tue, 04 Feb 2014 01:50:12 GMT
[...]
- request:
    method: get
    uri: http://api.fitbit.com/1/user/25WQ2X/sleep/date/2014-02-03.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ee59ac70ceb04f2c90fb103d3f0ac969", oauth_nonce="zOJxOKitVP7ZF1pJKWi72EZ8ofDG3cxII2i1F7U90",
        oauth_signature="K7UrJY6ZDXgdpcQyfhVaXuYCDjI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1391478613", oauth_token="128e556de6e068c19e29beb380de56f1",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"sleep":[{"awakeningsCount":5,"duration":14340000,"efficiency":75,"isMainSleep":true,"logId":106447000,"minuteData":[{"dateTime":"04:31:00","value":"3"},{"dateTime":"04:32:00","value":"3"},{"dateTime":"04:33:00","value":"3"},{"dateTime":"04:34:00","value":"3"},{"dateTime":"04:35:00","value":"3"},{"dateTime":"04:36:00","value":"3"},{"dateTime":"04:37:00","value":"3"},{"dateTime":"04:38:00","value":"2"},{"dateTime":"04:39:00","value":"3"},{"dateTime":"04:40:00","value":"3"},{"dateTime":"04:41:00","value":"2"},{"dateTime":"04:42:00","value":"3"},{"dateTime":"04:43:00","value":"2"},{"dateTime":"04:44:00","value":"3"},{"dateTime":"04:45:00","val[...]
[...]
