<br>
<br>
<br>
<br>

<div class="container">

  <%= @user.name %><br>

  <% if @goal.empty? %>
    <%= link_to 'Set Goal', new_goal_path %>    
  <% else %>
    <%= link_to 'View Goal', goal_path(@goal.id) %>
  <% end %>

  <%= render partial: 'foods/daily_total' %> 

</div>
