---
http_interactions:
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?format=json&method=foods.search&oauth_consumer_key=540c6e3ee26c46b8b0dd303c43da4248&oauth_nonce=c81e728d9d4c2f636f067f89cc14862c&oauth_signature=3B/6dVHzkyPuseGZhhHoKeaW7uI=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1391050881&oauth_version=1.0&search_expression=waffle
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{ "foods": { "food": [ {"food_description": "Per 100g - Calories: 310kcal
        | Fat: 9.55g | Carbs: 48.84g | Protein: 7.30g", "food_id": "4374", "food_name":
        "Plain Waffle", "food_type": "Generic", "food_url": "http:\/\/www.fatsecret.com\/calories-nutrition\/generic\/waffle-plain"
        }, {"brand_name": "Krusteaz", "food_description": "Per 1\/2 cup mix (7\" waffle)
        - Calories: 200kcal | Fat: 9.00g | Carbs: 26.00g | Protein: 4.00g", "food_id":
        "46095", "food_name": "Belgian Waffle Mix", "food_type": "Brand", "food_url":
        "http:\/\/www.fatsecret.com\/calories-nutrition\/krusteaz\/belgian-waffle-mix"
        }, {"food_description": "Per 100g - Calories: 291kcal | Fat: 14.10g | Carbs:
        32.90g | Protein: 7.90g", "food_id": "39070", "food_name": "Plain Waffles",
        "food_type": "Generic", "food_url": "http:\/\/www.fatsecret.com\/calories-nutritio[...]
