---
http_interactions:
- request:
    method: get
    uri: http://api.fitbit.com/1/user/25WQ2X/activities/date/2014-01-30.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ee59ac70ceb04f2c90fb103d3f0ac969", oauth_nonce="DYRsPDamGpl4PXfxvZ7SjSM7dWOYbDZw1gHwvxPDYw",
        oauth_signature="lJaymfdIj0RzteIAUneezMC4G4k%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1391125835", oauth_token="128e556de6e068c19e29beb380de56f1",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"activities":[],"goals":{"activeMinutes":30,"caloriesOut":3377,"distance":5,"steps":10000},"summary":{"activeScore":-1,"activityCalories":602,"caloriesBMR":1460,"caloriesOut":1856,"distances":[{"activity":"total","distance":1.04},{"activity":"tracker","distance":1.04},{"activity":"loggedActivities","distance":0},{"activity":"veryActive","distance":0.13},{"activity":"moderatelyActive","distance":0.64},{"activity":"lightlyActive","distance":0.26},{"activity":"sedentaryActive","distance":0.01}],"fairlyActiveMinutes":29,"lightlyActiveMinutes":121,"marginalCalories":326,"sedentaryMinutes":857,"steps":2225,"veryActiveMinutes":3}}'
  recorded_at: Thu, 30 Jan 2014 23:50:36 GMT
[...]
- request:
    method: get
    uri: http://api.fitbit.com/1/user/25WQ2X/sleep/date/2014-01-30.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ee59ac70ceb04f2c90fb103d3f0ac969", oauth_nonce="HGu4Y9d6Q68b6gIgadxtLnm7fpsaUJYQS9Sl7zePU",
        oauth_signature="fgDcZq8YoQP4ZmpOPtzMKAEeIlI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1391125836", oauth_token="128e556de6e068c19e29beb380de56f1",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"sleep":[],"summary":{"totalMinutesAsleep":0,"totalSleepRecords":0,"totalTimeInBed":0}}'
  recorded_at: Thu, 30 Jan 2014 23:50:36 GMT
- request:
    method: get
    uri: http://api.fitbit.com/1/user/25WQ2X/sleep/date/2014-01-30.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ee59ac70ceb04f2c90fb103d3f0ac969", oauth_nonce="SmRwVEvP9S0K5askOIg4CNexBoFS1rYwAKNNhVsGlo",
        oauth_signature="VYVDnTO52diN6yLbqVhogtAKlNY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1391125836", oauth_token="128e556de6e068c19e29beb380de56f1",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"sleep":[],"summary":{"totalMinutesAsleep":0,"totalSleepRecords":0,"totalTimeInBed":0}}'
  recorded_at: Thu, 30 Jan 2014 23:50:36 GMT
recorded_with: VCR 2.8.0
