---
http_interactions:
- request:
    method: get
    uri: http://api.fitbit.com/1/user/25WQ2X/activities/date/2014-01-30.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ee59ac70ceb04f2c90fb103d3f0ac969", oauth_nonce="v6kgmtIGt91zL1vqEMpFdJE7caGuuvoWRHD19kFpTA",
        oauth_signature="yFSMTEBQeowXuNOpI0gMFKQV4UI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1391119236", oauth_token="128e556de6e068c19e29beb380de56f1",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"activities":[],"goals":{"activeMinutes":30,"caloriesOut":3377,"distance":5,"steps":10000},"summary":{"activeScore":-1,"activityCalories":596,"caloriesBMR":1301,"caloriesOut":1663,"distances":[{"activity":"total","distance":1.01},{"activity":"tracker","distance":1.01},{"activity":"loggedActivities","distance":0},{"activity":"veryActive","distance":0.13},{"activity":"moderatelyActive","distance":0.61},{"activity":"lightlyActive","distance":0.26},{"activity":"sedentaryActive","distance":0.01}],"fairlyActiveMinutes":28,"lightlyActiveMinutes":121,"marginalCalories":322,"sedentaryMinutes":748,"steps":2176,"veryActiveMinutes":3}}'
  recorded_at: Thu, 30 Jan 2014 22:00:37 GMT
[...]
- request:
    method: get
    uri: http://api.fitbit.com/1/user/25WQ2X/sleep/date/2014-01-30.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ee59ac70ceb04f2c90fb103d3f0ac969", oauth_nonce="KXMdqXczd1p2EzD7b2mp4vfmY1PEEvXInReFtE2pSWg",
        oauth_signature="BQKlsWdk6NcIqV7XIRqqWM%2B5JsM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1391119237", oauth_token="128e556de6e068c19e29beb380de56f1",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"sleep":[],"summary":{"totalMinutesAsleep":0,"totalSleepRecords":0,"totalTimeInBed":0}}'
  recorded_at: Thu, 30 Jan 2014 22:00:37 GMT
- request:
    method: get
    uri: http://api.fitbit.com/1/user/25WQ2X/sleep/date/2014-01-30.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ee59ac70ceb04f2c90fb103d3f0ac969", oauth_nonce="xfds3EDp6irnCNyAuuwsJAL6NHBbpENWgspCxXoRV9s",
        oauth_signature="fMsiEv3rVl8hN5V8dj3ZEdJo2Z4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1391119237", oauth_token="128e556de6e068c19e29beb380de56f1",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"sleep":[],"summary":{"totalMinutesAsleep":0,"totalSleepRecords":0,"totalTimeInBed":0}}'
  recorded_at: Thu, 30 Jan 2014 22:00:37 GMT
recorded_with: VCR 2.8.0
