/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* {
  font-family: 'Muli', sans-serif;
 }


.main-stat {
  text-align: center;
  border: solid black;
  width:500px; 
  height:400px;
}

#calories {
  color: rgb(123,255,123);
  font-size: 15px;
  font-weight: bold;
}

#protein {
  color: rgb(200,255,20);
  font-size: 15px;
  font-weight: bold;
}

#fiber {
  color: rgb(12,226,250);
  font-size: 15px;
  font-weight: bold;
}

#fat {
  color: rgb(250,28,12);
  font-size: 15px;
  font-weight: bold;
}

#carbs {
  color: rgb(159,110,246);
  font-size: 15px;
  font-weight: bold;
}


#fitbit-button {
  margin-top: 5px;
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0,0,0,0.2);
  position: relative;
  text-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4285;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#sign-in-status {
  color: white;
  vertical-align: middle;
  text-align: middle;
}


footer {
  background-color: #f8f8f8;
  padding: 20px 0;
  text-align: center;
}

#hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #eee;
}

#logo {
  margin-left: -55px;
}

#title-name {
  font-weight: lighter;
}

#dashboard-header {
  margin-bottom: -25px;
}

#goal {
  color: #1E8CFA;
}

#actual {
  color: #76FA11;
}

#step-chart, #sleep-chart {
  margin-top: -150px;
  margin-left: -150px;
}

#today-food {
  border-top: 1px solid #eee;
}

.navbar-right {
  padding-top: 10px;
}

#search-item {
  list-style-type: none;
}

