---
http_interactions:
- request:
    method: get
    uri: http://api.fitbit.com/1/user/25WQ2X/activities/date/2014-02-05.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ee59ac70ceb04f2c90fb103d3f0ac969", oauth_nonce="oUiSuJKz8FmLfS2MA2KRhLHuHuj0PIQOkAobOgw",
        oauth_signature="HRmrKedVeIUqfnf%2F78jcVGMha54%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1391625474", oauth_token="128e556de6e068c19e29beb380de56f1",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"activities":[],"goals":{"activeMinutes":30,"caloriesOut":3377,"distance":5,"steps":10000},"summary":{"activeScore":-1,"activityCalories":148,"caloriesBMR":1007,"caloriesOut":1129,"distances":[{"activity":"total","distance":0.42},{"activity":"tracker","distance":0.42},{"activity":"loggedActivities","distance":0},{"activity":"veryActive","distance":0.09},{"activity":"moderatelyActive","distance":0.24},{"activity":"lightlyActive","distance":0.08},{"activity":"sedentaryActive","distance":0}],"fairlyActiveMinutes":15,"lightlyActiveMinutes":15,"marginalCalories":90,"sedentaryMinutes":249,"steps":908,"veryActiveMinutes":2}}'
  recorded_at: Wed, 05 Feb 2014 18:37:54 GMT
[...]
- request:
    method: get
    uri: http://api.fitbit.com/1/user/25WQ2X/sleep/date/2014-02-05.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ee59ac70ceb04f2c90fb103d3f0ac969", oauth_nonce="q1yPwM3uPg9PCzviSDxUyTalNnhG02RhVJcMI",
        oauth_signature="rxjp8Gm8kjTPocDfhLoMzm455vM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1391625474", oauth_token="128e556de6e068c19e29beb380de56f1",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"sleep":[{"awakeningsCount":6,"duration":24960000,"efficiency":78,"isMainSleep":true,"logId":107690425,"minuteData":[{"dateTime":"01:14:00","value":"3"},{"dateTime":"01:15:00","value":"3"},{"dateTime":"01:16:00","value":"3"},{"dateTime":"01:17:00","value":"3"},{"dateTime":"01:18:00","value":"3"},{"dateTime":"01:19:00","value":"3"},{"dateTime":"01:20:00","value":"3"},{"dateTime":"01:21:00","value":"3"},{"dateTime":"01:22:00","value":"2"},{"dateTime":"01:23:00","value":"2"},{"dateTime":"01:24:00","value":"2"},{"dateTime":"01:25:00","value":"2"},{"dateTime":"01:26:00","value":"2"},{"dateTime":"01:27:00","value":"2"},{"dateTime":"01:28:00","val[...]
[...]
